@using AutomationUI.Models
@model EmployeeListViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container-fluid">
    <ol class="breadcrumb shadow">
        <li class="breadcrumb-item lead"><strong>Personeller</strong></li>
    </ol>
    <a class="btn btn-primary mb-sm-3 shadow" href="/Employees/AddEmployee">Personel Ekle</a>
    <a class="btn btn-dark ml-sm-3 mb-sm-3 shadow" href="/Employees/EmployeeDetailList">Personel Detayları</a>
    <table id="example" class="trow-border hover order-column shadow">
        <thead>
            <tr>
                <th>Adı</th>
                <th>Departman</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model.Employees)
            {
                <tr>
                    <td class="p-2">@employee.EmployeeName @employee.EmployeeSurname</td>
                    <td class="p-2">@employee.Department.DepartmentName</td>
                    <td><img src="@Url.Content(employee.EmployeeImage)" width="50" /></td>
                    @if (!employee.IsActive)
                    {
                        <td class="p-2 text-center"><img style="width:23px" src="~/Icons/redCircle.png" alt="" /></td>
                    }
                    else
                    {
                        <td class="p-2 text-center"><img style="width:23px" src="~/Icons/greenCircle.png" alt="" /></td>
                    }
                    <td class="text-sm-right">
                        <a class="btn btn-success btn-sm text-sm-right" href="/Departments/DepartmentEmployeeSales/@employee.EmployeeId">Satışlar</a>
                    </td>

                    <td class="text-sm-right">
                        <a class="btn btn-warning btn-sm mr-sm-2" href="/Employees/UpdateEmployee/@employee.EmployeeId">Güncelle</a>
                    </td>
                    @if (employee.IsActive)
                    {
                        <td class="text-sm-left">
                            <a class="btn btn-danger btn-sm text-center" href="/Employees/DeleteEmployee/@employee.EmployeeId">Kaldır</a>
                        </td>
                    }
                    else
                    {
                        <td class="text-sm-left">
                            <a class="btn btn-primary btn-sm text-center" href="/Employees/DeleteEmployee/@employee.EmployeeId">Ekle</a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>


</div>


@*@Html.Partial("_Datatable")
    <script>
        $('#employeeTable').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Turkish.json"
            }
        });
    </script>*@



