@using Automation.Entities.Concrete
@model Admin
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Project Flat Responsive Widget Template :: w3layouts</title>
    <!-- custom-theme -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Project Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />


</head>
<!-- body starts -->
<body>

    <!-- section -->
    <section class="register">
        <div class="header">
            <div class="logo">
                <a href="#">DevOtomasyon</a>
            </div>
            <ul class="social">
                <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
            </ul>
            <div class="clear"></div>
        </div>

        <div class="register-full">
            <div class="register-left">
                <div class="register">
                    <p>Ürün Takip Sistemi</p>
                    <h1>Sercan Sever</h1>
                    <h2>Software Developer</h2>
                    <p>

                    </p>
                    <div class="content3">
                        <ul>
                            <li><a class="" href="#">Github</a></li>
                            <li><a class="read" href="#">Linkedin</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="register-right">
                <div class="register-in">
                    <a class="book popup-with-zoom-anim button-isi zoomIn animated" data-wow-delay=".5s" href="#small-dialog2">Admin »</a>
                </div>
                <div class="register-in middle">
                    <a class="book popup-with-zoom-anim button-isi zoomIn animated" data-wow-delay=".5s" href="#small-dialog">Personel »</a>
                </div>
                <div class="register-in">
                    <a class="book popup-with-zoom-anim button-isi zoomIn animated" data-wow-delay=".5s" href="#small-dialog1">Kayıt Ol »</a>
                </div>
                <div class="clear"> </div>
            </div>
            <div class="clear"> </div>
        </div>
    </section>
    <!-- //section -->
    <!-- login form popup-->
    <div class="pop-up">
        <div id="small-dialog" class="mfp-hide book-form">

            <div class="login-form login-form-left">
                <div class="agile-row">
                    <h3>Login to your site</h3>
                    <span class="fa fa-lock"></span>
                    <div class="clear"></div>
                    <div class="login-agileits-top">
                        <form action="#" method="post">
                            <input type="text" class="name" name="user name" Placeholder="Username" required="" />
                            <input type="password" class="password" name="Password" Placeholder="Password" required="" />
                            <input type="submit" value="Login">
                        </form>
                    </div>
                    <div class="login-agileits-bottom">
                        <h6><a href="#">Forgot password?</a></h6>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- //login form popup-->
    <!-- subscribe form popup-->
    <div class="pop-up">
        <div id="small-dialog1" class="mfp-hide book-form">

            @*  ADMİN REGİSTER   *@
            <div class="login-form login-form-left">
                <div class="agile-row">
                    <h3>Be the first to hear</h3>
                    <p>Kayıt Sayfası</p>
                    <div class="clear"></div>
                    <div class="login-agileits-top">
                        @using (Html.BeginForm("AddAdmin", "Login", FormMethod.Post))
                        {
                            @Html.TextBoxFor(x => x.AdminName, new { @class = "name", @placeholder = "Kullanıcı adı", @type = "text" })
                            @Html.TextBoxFor(x => x.AdminPassword, new { @class = "name", @placeholder = "Şifre", @type = "password" })
                            @*<input type="text" class="name" name="AdminName" Placeholder="Kullanıcı adı" required="" />*@
                            @*<input type="password" class="email" name="AdminPassword" Placeholder="Şifre" required="" />*@
                            <input type="submit" value="Kayıt Ol" />
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- //subscribe form popup-->
    <!-- register form popup-->
    <div class="pop-up">
        <div id="small-dialog2" class="mfp-hide book-form">
            <div class="login-form login-form-left">
                <div class="agile-row">
                    @using (Html.BeginForm("AdminLogin", "Login", FormMethod.Post))
                    {
                        <h3>Admin / Giriş</h3>
                        <div class="login-agileits-top">
                            <input type="text" class="name" name="AdminName" Placeholder="Kullanıcı adı" required="" />
                            <input type="password" class="password" name="AdminPassword" Placeholder="Şifre" required="" />
                            <input type="submit" value="Giriş Yap">
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <!-- //register form popup-->
    <!-- js -->
    @Html.Partial("_AdminPartial")

</body>
<!-- //body ends -->
</html>
