@using AutomationUI.Models
@model CustomerListViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <ol class="breadcrumb mt-3 shadow">
        <li class="breadcrumb-item lead"><strong>Müşteriler</strong></li>
    </ol>
    <a class="btn btn-primary mb-sm-3  shadow" href="/Customers/AddCustomer">Müşteri Ekle</a>
    <table id="example" class="trow-border hover order-column shadow">
        <thead>
            <tr>
                <th>Adı</th>
                <th>Email</th>
                <th>Şehir</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model.Customers)
            {
                <tr>
                    <td class="p-2">@customer.CustomerName @customer.CustomerSurname</td>
                    <td class="p-2">@customer.CustomerEmail</td>
                    <td class="p-2">@customer.CustomerCity</td>
                    @if (!customer.IsActive)
                    {
                        <td class="p-2 text-center"><img style="width:23px" src="~/Icons/redCircle.png" alt="" /></td>
                    }
                    else
                    {
                        <td class="p-2 text-center"><img style="width:23px" src="~/Icons/greenCircle.png" alt="" /></td>
                    }
                    <td class="text-sm-right">
                        <a class="btn btn-success btn-sm " href="/Customers/CustomerDetails/@customer.CustomerId">Detay</a>
                    </td>

                    <td class="text-sm-right">
                        <a class="btn btn-warning btn-sm" href="/Customers/UpdateCustomer/@customer.CustomerId">Güncelle</a>
                    </td>
                    @if (customer.IsActive)
                    {
                        <td class="text-sm-left">
                            <a class="btn btn-danger btn-sm text-center" href="/Customers/DeleteCustomer/@customer.CustomerId">Kaldır</a>
                        </td>
                    }
                    else
                    {
                        <td class="text-sm-left">
                            <a class="btn btn-primary btn-sm text-center" href="/Customers/DeleteCustomer/@customer.CustomerId">Ekle</a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

