@using AutomationUI.Models;
@model DepartmentListViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container-fluid">

    <ol class="breadcrumb shadow">
        <li class="breadcrumb-item lead"><strong>Departmanlar</strong></li>
    </ol>
    <a class="btn btn-primary mb-sm-3 shadow" href="/Departments/AddDepartment">Departman Ekle</a>
    <table id="example" class="trow-border hover order-column">
        <thead>
            <tr>
                <th>Departman Adı</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var department in Model.Departments)
            {
                <tr>
                    <td class="p-2 col-sm-1">@department.DepartmentName</td>
                    @if (!department.IsActive)
                    {
                        <td class="p-2 text-center"><img style="width:23px" src="~/Icons/redCircle.png" alt="" /></td>
                    }
                    else
                    {
                        <td class="p-2 text-center"><img style="width:23px" src="~/Icons/greenCircle.png" alt="" /></td>
                    }
                    <td class="text-sm-center">
                        <a class="btn btn-success btn-sm text-sm-center mr-2" href="/Departments/DepartmentDetail/@department.DepartmentId">Detay</a>
                    </td>

                    <td class="text-sm-center">
                        <a class="btn btn-warning btn-sm mr-2" href="/Departments/UpdateDepartment/@department.DepartmentId">Güncelle</a>
                    </td>
                    @if (department.IsActive)
                    {
                        <td class="text-sm-center">
                            <a class="btn btn-danger btn-sm text-center mr-4" href="/Departments/DeleteDepartment/@department.DepartmentId">Kaldır</a>
                        </td>
                    }
                    else
                    {
                        <td class="text-sm-center">
                            <a class="btn btn-primary btn-sm text-center mr-4" href="/Departments/DeleteDepartment/@department.DepartmentId">Ekle</a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
