@using Automation.Entities.Concrete;
@model Category
@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid p-4">
    <ol class="breadcrumb shadow">
        <li class="breadcrumb-item lead"><strong>Kategori Ekle</strong></li>
    </ol>
    <div class="row p-2 shadow">
        <form class="col-sm-4" method="post">
            <div class="form-group">
                @Html.Label("Kategori Adı : ")
                @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control", @placeholder = "Giyim, Spor.." })
                <small id="categoryNameValidation" class="form-text text-muted">Kategori adı 50 karakteri geçemez.</small>
            </div>
            <div class="form-check mb-2">
                @Html.CheckBoxFor(x => x.IsActive, new { @class = "form-check-input" })
                <label class="form-check-label" for="checkIsActive">Aktif / Pasif</label>
            </div>
            <button id="addCategory" type="submit" class="btn btn-primary">Kaydet</button>
        </form>
    </div>
</div>


