@using AutomationUI.Models;
@model CategoryListViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">
    <div class="row mt-3 mb-5 border-bottom border-top">
        <a class="btn btn-primary shadow" href="/Categories/AddCategory">Kategori Ekle</a>
        <table class="table table-hover table-striped table-sm p-sm-1 mt-2 mb-5 shadow">
            <tr>
                <th>Kategori Adı</th>
                <th class=""></th>
                <th class=""></th>


            </tr>
            @foreach (var category in Model.Categories)
            {
                <tr>
                    <td class="p-2 col-sm-1">@category.CategoryName</td>
                    <td class="text-sm-right">
                        <a class="btn btn-warning btn-sm mr-4" href="/Categories/UpdateCategory/@category.CategoryId">Güncelle</a>
                    </td>
                    @if (category.IsActive)
                    {
                        <td class="text-sm-left">
                            <a class="btn btn-danger btn-sm text-center mr-4" href="/Categories/DeleteCategory/@category.CategoryId">Kaldır</a>
                        </td>
                    }
                    else
                    {
                        <td class="text-sm-left">
                            <a class="btn btn-primary btn-sm text-center mr-4" href="/Categories/DeleteCategory/@category.CategoryId">Ekle</a>
                        </td>
                    }

                </tr>
            }
        </table>
    </div>
</div>

