@using AutomationUI.Models;
@model CategoryListViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">
    <ol class="breadcrumb shadow">
        <li class="breadcrumb-item lead"><strong>Kategoriler</strong></li>
    </ol>
    <a class="btn btn-primary mb-sm-3 shadow" href="/Categories/AddCategory">Kategori Ekle</a>
    <table id="example" class="trow-border hover order-column shadow">
        <thead>
            <tr>
                <th>Kategori Adı</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Model.Categories)
            {
                <tr>
                    <td class="p-2 col-sm-1">@category.CategoryName</td>
                    @if (!category.IsActive)
                    {
                        <td class="p-2 text-center"><img style="width:23px" src="~/Icons/redCircle.png" alt="" /></td>
                    }
                    else
                    {
                        <td class="p-2 text-center"><img style="width:23px" src="~/Icons/greenCircle.png" alt="" /></td>
                    }
                    <td class="text-sm-right">
                        <a class="btn btn-warning btn-sm mr-4" href="/Categories/UpdateCategory/@category.CategoryId">Güncelle</a>
                    </td>
                    @if (category.IsActive)
                    {
                        <td class="text-sm-left">
                            <a class="btn btn-danger btn-sm text-center mr-4" href="/Categories/DeleteCategory/@category.CategoryId">Kaldır</a>
                        </td>
                    }
                    else
                    {
                        <td class="text-sm-left">
                            <a class="btn btn-primary btn-sm text-center mr-4" href="/Categories/DeleteCategory/@category.CategoryId">Ekle</a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

