@using Automation.Entities.Concrete;
@model Category
@{
    ViewBag.Title = "UpdateCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("UpdateCategory", "Categories", FormMethod.Post))
{
    <div class="container-fluid">
        <ol class="breadcrumb shadow">
            <li class="breadcrumb-item lead"><strong>Kategori Güncelle</strong></li>
        </ol>
        @Html.HiddenFor(x => x.CategoryId)
        <h2>Kategori Ekle</h2>
        <div class="row p-2 shadow ">
            <div class="col-sm-4">
                <div class="form-group">
                    @Html.Label("Kategori Adı : ")
                    @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control", @placeholder = "Giyim, Spor.." })
                    <small id="categoryNameValidation" class="form-text text-muted">Kategori adı 50 karakteri geçemez.</small>
                </div>
                <button type="submit" class="btn btn-primary">Güncelle</button>
            </div>
        </div>
    </div>
}


